
<div>

    <h3> Add Sub Category</h3>

    NAME <input type="text" [(ngModel)]="subcategory.NAME" /> <br />
    DESCRIPTION <input type="text" [(ngModel)]="subcategory.DESCRIPTION" /> <br />

    <div class="selectCategory">

        SELECT CATEGORY
        <select (change)="onCategoryChange($event.target.value)">
            <option selected>
                Choose Service Category
            </option>
            <option *ngFor="let x of categories" [value]="x.ID">{{x.NAME}}</option>
        </select>

    </div>

    <div class="form-group">
        <label for="description">Service Icon</label>
        <input type="file" ng2FileSelect [uploader]="serviceiconuploader"  />
    </div>
    <div class="displayUploadImages">

        <div class="container"  *ngIf="serviceicon">
            <div class="galleryItem" >
                <cl-image public-id="{{serviceicon}}" [options]="cloudinaryOptions"></cl-image>
            </div>


        </div>

    </div>

    <div class="form-group">
        <label for="description">Service Image</label>
        <input type="file" ng2FileSelect [uploader]="serviceimageuploader" />
    </div>
    <div class="displayUploadImages">

        <div class="container" *ngIf="serviceimage">
            <div class="galleryItem">
                <cl-image public-id="{{serviceimage}}" [options]="cloudinaryOptions"></cl-image>
            </div>


        </div>

    </div>

    <input type="submit" (click)="saveSubCategory(subcategory)" />
</div>